{% extends 'base.html.twig' %}

{% block body %}

    <div class="cst-phonebook-form col-md-6">
        <h2>Add new contact</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}